<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminRegistrationController</servlet-name>
        <servlet-class>controller.AdminRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>controller.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <servlet-class>controller.DeleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdoptRegistrationController</servlet-name>
        <servlet-class>controller.AdoptRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdoptionRegistrationController</servlet-name>
        <servlet-class>controller.AdoptionRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdoptServlet</servlet-name>
        <servlet-class>controller.DeleteAdoptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdoptionServlet</servlet-name>
        <servlet-class>controller.DeleteAdoptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdoptServlet</servlet-name>
        <servlet-class>controller.UpdateAdoptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdoptionServlet</servlet-name>
        <servlet-class>controller.UpdateAdoptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildRegistrationController</servlet-name>
        <servlet-class>controller.ChildRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChildServlet</servlet-name>
        <servlet-class>controller.DeleteChildServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChildServlet</servlet-name>
        <servlet-class>controller.UpdateChildServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonationServlet</servlet-name>
        <servlet-class>controller.DeleteDonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonorServlet</servlet-name>
        <servlet-class>controller.DeleteDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationServlet</servlet-name>
        <servlet-class>controller.DonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonorRegisterServlet</servlet-name>
        <servlet-class>controller.DonorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonationServlet</servlet-name>
        <servlet-class>controller.UpdateDonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonorServlet</servlet-name>
        <servlet-class>controller.UpdateDonorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRegistrationController</servlet-name>
        <url-pattern>/AdminRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <url-pattern>/DeleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdoptRegistrationController</servlet-name>
        <url-pattern>/AdoptRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdoptionRegistrationController</servlet-name>
        <url-pattern>/AdoptionRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdoptServlet</servlet-name>
        <url-pattern>/DeleteAdoptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdoptionServlet</servlet-name>
        <url-pattern>/DeleteAdoptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdoptServlet</servlet-name>
        <url-pattern>/UpdateAdoptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdoptionServlet</servlet-name>
        <url-pattern>/UpdateAdoptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildRegistrationController</servlet-name>
        <url-pattern>/ChildRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChildServlet</servlet-name>
        <url-pattern>/DeleteChildServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChildServlet</servlet-name>
        <url-pattern>/UpdateChildServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonationServlet</servlet-name>
        <url-pattern>/DeleteDonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonorServlet</servlet-name>
        <url-pattern>/DeleteDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationServlet</servlet-name>
        <url-pattern>/DonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonorRegisterServlet</servlet-name>
        <url-pattern>/DonorRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonationServlet</servlet-name>
        <url-pattern>/UpdateDonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonorServlet</servlet-name>
        <url-pattern>/UpdateDonorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
